<!DOCTYPE html>
{%load static%}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Salary - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href='{% static "assets/img/favicon.png" %}'>
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href='{% static "assets/css/font-awesome.min.css" %}'>
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href='{% static "assets/css/line-awesome.min.css" %}'>
		
		<!-- Datatable CSS -->
		<link rel="stylesheet" href='{% static "assets/css/dataTables.bootstrap4.min.css" %}'>
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href='{% static "assets/css/select2.min.css" %}'>
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href='{% static "assets/css/bootstrap-datetimepicker.min.css" %}'>
		
		<!-- Main CSS -->
        <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src='{% static "assets/js/html5shiv.min.js" %}'></script>
			<script src='{% static "assets/js/respond.min.js" %}'></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src='{% static "assets/img/logo.png" %}' width="40" height="40" alt="">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3>Dreamguy's Technologies</h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="search.html">
								<input class="form-control" type="text" placeholder="Search here">
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src='{% static "assets/img/flags/us.png" %}' alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src='{% static "assets/img/flags/us.png" %}' alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src='{% static "assets/img/flags/fr.png" %}' alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src='{% static "assets/img/flags/es.png" %}' alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src='{% static "assets/img/flags/de.png" %}' alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					<!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src='{% static "assets/img/profiles/avatar-02.jpg" %}'>
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src='{% static "assets/img/profiles/avatar-03.jpg" %}'>
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src='{% static "assets/img/profiles/avatar-06.jpg" %}'>
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src='{% static "assets/img/profiles/avatar-17.jpg" %}'>
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src='{% static "assets/img/profiles/avatar-13.jpg" %}'>
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- Message Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src='{% static "assets/img/profiles/avatar-09.jpg" %}'>
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src='{% static "assets/img/profiles/avatar-02.jpg" %}'>
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">John Doe</span>
													<span class="message-time">6 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src='{% static "assets/img/profiles/avatar-03.jpg" %}'>
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Tarah Shropshire </span>
													<span class="message-time">5 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src='{% static "assets/img/profiles/avatar-05.jpg" %}'>
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Mike Litorus</span>
													<span class="message-time">3 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src='{% static "assets/img/profiles/avatar-08.jpg" %}'>
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Catherine Manseau </span>
													<span class="message-time">27 Feb</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="chat.html">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications -->
	
					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src='{% static "assets/img/profiles/avatar-21.jpg" %}' alt="">
							<span class="status online"></span></span>
							<span>Admin</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="index.html">Admin Dashboard</a></li>
									<li><a href="employee-dashboard.html">Employee Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="chat.html">Chat</a></li>
									<li class="submenu">
										<a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="voice-call.html">Voice Call</a></li>
											<li><a href="video-call.html">Video Call</a></li>
											<li><a href="outgoing-call.html">Outgoing Call</a></li>
											<li><a href="incoming-call.html">Incoming Call</a></li>
										</ul>
									</li>
									<li><a href="events.html">Calendar</a></li>
									<li><a href="contacts.html">Contacts</a></li>
									<li><a href="inbox.html">Email</a></li>
									<li><a href="file-manager.html">File Manager</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Employees</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="employees.html">All Employees</a></li>
									<li><a href="holidays.html">Holidays</a></li>
									<li><a href="leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
									<li><a href="leaves-employee.html">Leaves (Employee)</a></li>
									<li><a href="leave-settings.html">Leave Settings</a></li>
									<li><a href="attendance.html">Attendance (Admin)</a></li>
									<li><a href="attendance-employee.html">Attendance (Employee)</a></li>
									<li><a href="departments.html">Departments</a></li>
									<li><a href="designations.html">Designations</a></li>
									<li><a href="timesheet.html">Timesheet</a></li>
									<li><a href="overtime.html">Overtime</a></li>
								</ul>
							</li>
							<li> 
								<a href="clients.html"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="projects.html">Projects</a></li>
									<li><a href="tasks.html">Tasks</a></li>
									<li><a href="task-board.html">Task Board</a></li>
								</ul>
							</li>
							<li> 
								<a href="leads.html"><i class="la la-user-secret"></i> <span>Leads</span></a>
							</li>
							<li> 
								<a href="tickets.html"><i class="la la-ticket"></i> <span>Tickets</span></a>
							</li>
							<li class="menu-title"> 
								<span>HR</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="estimates.html">Estimates</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="payments.html">Payments</a></li>
									<li><a href="expenses.html">Expenses</a></li>
									<li><a href="provident-fund.html">Provident Fund</a></li>
									<li><a href="taxes.html">Taxes</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a class="active" href="{% url 'emp_salary_list' %}"> Employee Salary </a></li>
									<li><a href="#"> Payslip </a></li>
									<li><a href="payroll-items.html"> Payroll Items </a></li>
								</ul>
							</li>
							<li> 
								<a href="policies.html"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="expense-reports.html"> Expense Report </a></li>
									<li><a href="invoice-reports.html"> Invoice Report </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Performance</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-graduation-cap"></i> <span> Performance </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="performance-indicator.html"> Performance Indicator </a></li>
									<li><a href="performance.html"> Performance Review </a></li>
									<li><a href="performance-appraisal.html"> Performance Appraisal </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-crosshairs"></i> <span> Goals </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="goal-tracking.html"> Goal List </a></li>
									<li><a href="goal-type.html"> Goal Type </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-edit"></i> <span> Training </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="training.html"> Training List </a></li>
									<li><a href="trainers.html"> Trainers</a></li>
									<li><a href="training-type.html"> Training Type </a></li>
								</ul>
							</li>
							<li><a href="promotion.html"><i class="la la-bullhorn"></i> <span>Promotion</span></a></li>
							<li><a href="resignation.html"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>
							<li><a href="termination.html"><i class="la la-times-circle"></i> <span>Termination</span></a></li>
							<li class="menu-title"> 
								<span>Administration</span>
							</li>
							<li> 
								<a href="assets.html"><i class="la la-object-ungroup"></i> <span>Assets</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-briefcase"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="jobs.html"> Manage Jobs </a></li>
									<li><a href="job-applicants.html"> Applied Candidates </a></li>
								</ul>
							</li>
							<li> 
								<a href="knowledgebase.html"><i class="la la-question"></i> <span>Knowledgebase</span></a>
							</li>
							<li> 
								<a href="activities.html"><i class="la la-bell"></i> <span>Activities</span></a>
							</li>
							<li> 
								<a href="users.html"><i class="la la-user-plus"></i> <span>Users</span></a>
							</li>
							<li> 
								<a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="profile.html"> Employee Profile </a></li>
									<li><a href="client-profile.html"> Client Profile </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="login.html"> Login </a></li>
									<li><a href="register.html"> Register </a></li>
									<li><a href="forgot-password.html"> Forgot Password </a></li>
									<li><a href="otp.html"> OTP </a></li>
									<li><a href="lock-screen.html"> Lock Screen </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="error-404.html">404 Error </a></li>
									<li><a href="error-500.html">500 Error </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-hand-o-up"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="subscriptions.html"> Subscriptions (Admin) </a></li>
									<li><a href="subscriptions-company.html"> Subscriptions (Company) </a></li>
									<li><a href="subscribed-companies.html"> Subscribed Companies</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="search.html"> Search </a></li>
									<li><a href="faq.html"> FAQ </a></li>
									<li><a href="terms.html"> Terms </a></li>
									<li><a href="privacy-policy.html"> Privacy Policy </a></li>
									<li><a href="blank-page.html"> Blank Page </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li> 
								<a href="components.html"><i class="la la-puzzle-piece"></i> <span>Components</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-object-group"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="form-basic-inputs.html">Basic Inputs </a></li>
									<li><a href="form-input-groups.html">Input Groups </a></li>
									<li><a href="form-horizontal.html">Horizontal Form </a></li>
									<li><a href="form-vertical.html"> Vertical Form </a></li>
									<li><a href="form-mask.html"> Form Mask </a></li>
									<li><a href="form-validation.html"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="tables-basic.html">Basic Tables </a></li>
									<li><a href="data-tables.html">Data Table </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Extras</span>
							</li>
							<li> 
								<a href="#"><i class="la la-file-text"></i> <span>Documentation</span></a>
							</li>
							<li> 
								<a href="javascript:void(0);"><i class="la la-info"></i> <span>Change Log</span> <span class="badge badge-primary ml-auto">v3.4</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Employee Salary</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Salary</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_salary"><i class="fa fa-plus"></i> Add Salary</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<div class="row filter-row">
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
							<div class="form-group form-focus">
								<input type="text" class="form-control floating">
								<label class="focus-label">Employee Name</label>
							</div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
							<div class="form-group form-focus select-focus">
								<select class="select floating"> 
									<option value=""> -- Select -- </option>
									<option value="">Employee</option>
									<option value="1">Manager</option>
								</select>
								<label class="focus-label">Role</label>
							</div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
							<div class="form-group form-focus select-focus">
								<select class="select floating"> 
									<option> -- Select -- </option>
									<option> Pending </option>
									<option> Approved </option>
									<option> Rejected </option>
								</select>
								<label class="focus-label">Leave Status</label>
							</div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating datetimepicker" type="text">
								</div>
								<label class="focus-label">From</label>
							</div>
						</div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating datetimepicker" type="text">
								</div>
								<label class="focus-label">To</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
							<a href="#" class="btn btn-success btn-block"> Search </a>  
						</div>     
                    </div>
					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable">
									<thead>
										<tr>
											<th>Employee</th>
											<th>Employee ID</th>
											<th>Email</th>
											<th>Join Date</th>
											<th>Role</th>
											<th>Salary</th>
											<th>Payslip</th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for emp in employee_list%}
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'profile_view' emp.id %}" class="avatar"><img alt="" src='media/{{emp.profile_pic}}'></a>
													<a href="{% url 'profile_view' emp.id %}">{{emp.name}}<span>{{emp.role}}</span></a>
												</h2>
											</td>
											<td>FT-{{emp.id|stringformat:"04d"}}</td>
											<td>{{emp.email}}</td>
											<td>{{emp.joining_date}}</td>
											<td>
												{{emp.role}}
											</td>
											<td>${{emp.total_ctc}}</td>
											<td><a class="btn btn-sm btn-primary" href="{% url 'generate_salary_slip' emp.id %}">Generate Slip</a></td>
											<td class="text-right">
												<div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_salary" onclick="edit_salary_function({{emp.id}})"><i class="fa fa-pencil m-r-5"></i> Edit</a>
														<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_salary"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
													</div>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<!-- Add Salary Modal -->
				<div id="add_salary" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Staff Salary</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post" action="{% url 'salary_create' %}">
									{% csrf_token %}
									<div class="row"> 
										<div class="col-sm-6"> 
											<div class="form-group">
												<label>Select Staff</label>
												<select class="select" name="staff" id="emp_list_salary"> 
													<option>-------</option>
													{% for emp in sec_employee_list %}
													<option value="{{emp.id}}">{{emp.name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-sm-6"> 
											<label>Net Salary</label>
											<input id="id_net_salary" name="net_salary" class="form-control" type="text">
										</div>
									</div>
									<div class="row"> 
										<div class="col-sm-6"> 
											<h4 class="text-primary">Earnings</h4>
											<div class="form-group">
												<label>Basic</label>
												<input class="form-control" name="basic" id="id_basic" type="text">
											</div>
											<div class="form-group">
												<label>DA(40%)</label>
												<input class="form-control" name="da" id="id_DA" type="text">
											</div>
											<div class="form-group">
												<label>HRA(15%)</label>
												<input class="form-control" name="hra" id="id_HRA" type="text">
											</div>
											<div class="form-group">
												<label>Conveyance</label>
												<input class="form-control" name="conveyance" id="id_Conveyance" type="text">
											</div>
											<div class="form-group">
												<label>Allowance</label>
												<input class="form-control" name="allowance" id="id_Allowance" type="text">
											</div>
											<div class="form-group">
												<label>Medical  Allowance</label>
												<input class="form-control" name="medical_allowance" id="id_Medical_Allowance" type="text">
											</div>
											<div class="form-group">
												<label>Others</label>
												<input class="form-control other_fec" id="id_other_earnings" name="other_earnings" type="text">
											</div>
											<div class="add-more">
												<a href="#"><i class="fa fa-plus-circle"></i> Add More</a>
											</div>
										</div>
										<div class="col-sm-6">  
											<h4 class="text-primary">Deductions</h4>
											<div class="form-group">
												<label>TDS</label>
												<input class="form-control" name="tds" id="id_TDS" type="text">
											</div> 
											<div class="form-group">
												<label>ESI</label>
												<input class="form-control other_fec" name="esi" id="id_ESI" type="text">
											</div>
											<div class="form-group">
												<label>PF</label>
												<input class="form-control" name="pf" id="id_PF" type="text">
											</div>
											<div class="form-group">
												<label>Leave</label>
												<input class="form-control other_fec" name="leave" id="id_leave" type="text">
											</div>
											<div class="form-group">
												<label>Prof. Tax</label>
												<input class="form-control" name="prof_tax" id="id_Prof_Tax" type="text">
											</div>
											<div class="form-group">
												<label>Labour Welfare</label>
												<input class="form-control other_fec" name="labour_welfare" id="id_labour_welfare" type="text">
											</div>
											<div class="form-group">
												<label>Others</label>
												<input class="form-control other_fec" id="id_other_deductions" name="other_deductions" type="text">
											</div>
											<div class="add-more">
												<a href="#"><i class="fa fa-plus-circle"></i> Add More</a>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button type="submit" class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Salary Modal -->
				
				<!-- Edit Salary Modal -->
				<div id="edit_salary" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-md" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Staff Salary</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post" action="{% url 'salary_create' %}">
									{% csrf_token %}
									<div class="row"> 
										<div class="col-sm-6"> 
											<div class="form-group">
												<label>Select Staff</label>
												<select class="select" name="staff" id="emp_list_salary_edit"> 
													
												</select>
											</div>
										</div>
										<div class="col-sm-6"> 
											<label>Net Salary</label>
											<input id="id_net_salary_edit" name="net_salary" class="form-control" type="text">
										</div>
									</div>
									<div class="row"> 
										<div class="col-sm-6"> 
											<h4 class="text-primary">Earnings</h4>
											<div class="form-group">
												<label>Basic</label>
												<input class="form-control other_fec_edit" name="basic" id="id_basic_edit" type="text">
											</div>
											<div class="form-group">
												<label>DA(40%)</label>
												<input class="form-control other_fec_edit" name="da" id="id_DA_edit" type="text">
											</div>
											<div class="form-group">
												<label>HRA(15%)</label>
												<input class="form-control other_fec_edit" name="hra" id="id_HRA_edit" type="text">
											</div>
											<div class="form-group">
												<label>Conveyance</label>
												<input class="form-control other_fec_edit" name="conveyance" id="id_Conveyance_edit" type="text">
											</div>
											<div class="form-group">
												<label>Allowance</label>
												<input class="form-control other_fec_edit" name="allowance" id="id_Allowance_edit" type="text">
											</div>
											<div class="form-group">
												<label>Medical  Allowance</label>
												<input class="form-control other_fec_edit" name="medical_allowance" id="id_Medical_Allowance_edit" type="text">
											</div>
											<div class="form-group">
												<label>Others</label>
												<input class="form-control other_fec_edit" id="id_other_earnings_edit" name="other_earnings" type="text">
											</div>
											<div class="add-more">
												<a href="#"><i class="fa fa-plus-circle"></i> Add More</a>
											</div>
										</div>
										<div class="col-sm-6">  
											<h4 class="text-primary">Deductions</h4>
											<div class="form-group">
												<label>TDS</label>
												<input class="form-control other_fec_edit" name="tds" id="id_TDS_edit" type="text">
											</div> 
											<div class="form-group">
												<label>ESI</label>
												<input class="form-control  other_fec_edit" name="esi" id="id_ESI_edit" type="text">
											</div>
											<div class="form-group">
												<label>PF</label>
												<input class="form-control other_fec_edit" name="pf" id="id_PF_edit" type="text">
											</div>
											<div class="form-group">
												<label>Leave</label>
												<input class="form-control  other_fec_edit" name="leave" id="id_leave_edit" type="text">
											</div>
											<div class="form-group">
												<label>Prof. Tax</label>
												<input class="form-control other_fec_edit" name="prof_tax" id="id_Prof_Tax_edit" type="text">
											</div>
											<div class="form-group">
												<label>Labour Welfare</label>
												<input class="form-control  other_fec_edit" name="labour_welfare" id="id_labour_welfare_edit" type="text">
											</div>
											<div class="form-group">
												<label>Others</label>
												<input class="form-control  other_fec_edit" id="id_other_deductions_edit" name="other_deductions" type="text">
											</div>
											<div class="add-more">
												<a href="#"><i class="fa fa-plus-circle"></i> Add More</a>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button type="submit" class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Salary Modal -->
				
				<!-- Delete Salary Modal -->
				<div class="modal custom-modal fade" id="delete_salary" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Salary</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Salary Modal -->
				
            </div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src='{% static "assets/js/jquery-3.2.1.min.js" %}'></script>

		<!-- Bootstrap Core JS -->
        <script src='{% static "assets/js/popper.min.js" %}'></script>
        <script src='{% static "assets/js/bootstrap.min.js" %}'></script>

		<!-- Slimscroll JS -->
		<script src='{% static "assets/js/jquery.slimscroll.min.js" %}'></script>
		
		<!-- Select2 JS -->
		<script src='{% static "assets/js/select2.min.js" %}'></script>
		
		<!-- Datetimepicker JS -->
		<script src='{% static "assets/js/moment.min.js" %}'></script>
		<script src='{% static "assets/js/bootstrap-datetimepicker.min.js" %}'></script>
		
		<!-- Datatable JS -->
		<script src='{% static "assets/js/jquery.dataTables.min.js" %}'></script>
		<script src='{% static "assets/js/dataTables.bootstrap4.min.js" %}'></script>		

		<!-- Custom JS -->
		<script src='{% static "assets/js/app.js" %}'></script>
		
<script type="text/javascript">


	function set_edit_salary(emp_obj, salary_obj) {
		
		$("#id_net_salary_edit").val((salary_obj['net_salary'])); 
		$("#id_basic_edit").val((salary_obj['basic'])); 
		$("#id_DA_edit").val((salary_obj['DA'])); 
		$("#id_HRA_edit").val((salary_obj['HRA']));
		$("#id_Conveyance_edit").val((salary_obj['Conveyance'])); 
		$("#id_Allowance_edit").val((salary_obj['Allowance'])); 
		$("#id_Medical_Allowance_edit").val((salary_obj['Medical_Allowance']));
		$("#id_other_earnings_edit").val((salary_obj['other_earnings']));
		$("#id_TDS_edit").val((salary_obj['TDS']));
		$("#id_ESI_edit").val((salary_obj['ESI']))
		$("#id_PF_edit").val((salary_obj['PF'])); 
		$("#id_leave_edit").val((salary_obj['Leave'])); 
		$("#id_Prof_Tax_edit").val((salary_obj['Prof_Tax'])); 
		$("#id_labour_welfare_edit").val((salary_obj['Labour_Welfare'])); 
		$("#id_other_deductions_edit").val((salary_obj['other_deductions'])); 
		$("#emp_list_salary_edit").html('<option value="'+(salary_obj['employee']) +'">'+ emp_obj['name'] +'</option>')
		$("#emp_list_salary_edit").val((salary_obj['employee']));

	}

	function edit_salary_function(emp_id) {
		$.ajax({
                type:"GET",
                url:"{% url 'get_salary_details' 0 %}".replace('0', emp_id),
                success:function(result){
	               if (JSON.parse(result)["length"]>1){
	                   set_edit_salary(JSON.parse(result)[0]["fields"], JSON.parse(result)[1]["fields"])
	               }
	               else{
	               	salary_obj = net_salary(JSON.parse(result)[0]["fields"]["total_ctc"])
	               	salary_obj['employee'] = emp_id
	               	set_edit_salary(JSON.parse(result)[0]["fields"], salary_obj)
	               }


                }

            })

	}

	

	$("#emp_list_salary").change(function(){

		var emp_id = parseInt($("#emp_list_salary").children("option:selected").val())
		$.ajax({
                type:"GET",
                url:"{% url 'get_salary_details' 0 %}".replace('0', emp_id),
                success:function(result){
                   net_salary(JSON.parse(result)[0]["fields"]["total_ctc"]);
                }

            })

	});


$(".other_fec_edit").change(function(){

		var basic = Math.ceil($("#id_basic_edit").val()); 
		var DA = Math.ceil($("#id_DA_edit").val()); 
		var HRA = Math.ceil($("#id_HRA_edit").val());
		var con = Math.ceil($("#id_Conveyance_edit").val()); 
		var Al = Math.ceil($("#id_Allowance_edit").val()); 
		var MA = Math.ceil($("#id_Medical_Allowance_edit").val());
		var OE = Math.ceil($("#id_other_earnings_edit").val());
		var TDS = Math.ceil($("#id_TDS_edit").val());
		var ESI = Math.ceil($("#id_ESI_edit").val());
		var PF = Math.ceil($("#id_PF_edit").val()); 
		var Leave = Math.ceil($("#id_leave_edit").val()); 
		var pro_tax = Math.ceil($("#id_Prof_Tax_edit").val()); 
		var LW = Math.ceil($("#id_labour_welfare_edit").val()); 
		var OD = Math.ceil($("#id_other_deductions_edit").val());

		var sub = basic + DA + HRA + con +Al + MA + OE
		var dedu = TDS + ESI + PF + Leave + pro_tax + LW + OD
		var net_salary = Math.ceil($("#id_net_salary").val()) + sub - dedu
		$("#id_net_salary_edit").val(net_salary);


	});




	$(".other_fec").change(function(){

		var other_earnings = Math.ceil($("#id_other_earnings").val());
		var ESI = Math.ceil($("#id_ESI").val());
		var leaves = Math.ceil($("#id_leave").val());
		var labour_welfare = Math.ceil($("#id_labour_welfare").val());
		var other_deductions = Math.ceil($("#id_other_deductions").val());
		var net_salary = Math.ceil($("#id_net_salary").val()) + other_earnings - ESI - leaves - labour_welfare - other_deductions
		$("#id_net_salary").val(net_salary);


	});

	function net_salary(salary) {

  	 var Package = salary;

     var monthly = Package / 12;
     var Basic = Math.ceil((Package / 2) / 12);
     var DA = Math.ceil((Package * 0.25) / 12);
     var HRA = Math.ceil((Package * 0.15) / 12);
     var Conveyance = Math.ceil((Package * 0.07) / 12);
     var TA = Math.ceil((Package * 0.075) / 12);
     var OTHER_earnings = Math.ceil((Package * 0.005) / 12);
     var PF = Math.ceil(((Package + DA) * 0.12) / 12);
     var MA = Math.ceil((Package * 2 / 100) / 12);
     var ProfTax = 200;

     $("#id_basic").val(Basic).attr("readonly", "readonly"); 
     $("#id_DA").val(DA).attr("readonly", "readonly"); 
     $("#id_HRA").val(HRA).attr("readonly", "readonly");
     $("#id_Conveyance").val(Conveyance).attr("readonly", "readonly"); 
     $("#id_Allowance").val(TA).attr("readonly", "readonly"); 
     $("#id_Medical_Allowance").val(MA).attr("readonly", "readonly");
     $("#id_other_earnings").val(OTHER_earnings);
     
	var subtotal =  Basic + DA + HRA + MA + TA + OTHER_earnings+Conveyance;
	if (Package <= 250000) {
       var TDS = 0;
     } else if (Package > 250000 && Package <= 500000) {
       var TDS = Basic * 5 / 100;
     } else if (Package > 500000 && Package <= 1000000) {
       var TDS = 12500 + (Basic * 20 / 100);
     } else {
       var TDS = 112500 + (Basic * 30 / 100);
     }
     var deduction = TDS + PF + ProfTax;
     $("#id_TDS").val(TDS).attr("readonly", "readonly");
     $("#id_ESI").val(0)
     $("#id_PF").val(PF).attr("readonly", "readonly"); 
     $("#id_leave").val(0); 
     $("#id_Prof_Tax").val(ProfTax).attr("readonly", "readonly"); 
     $("#id_labour_welfare").val(0); 
     $("#id_other_deductions").val(0); 
     
     var net_salary = subtotal - deduction;
     $("#id_net_salary").val(net_salary)

     var salary_obj = { basic:Basic, DA:DA, HRA:HRA, Conveyance:Conveyance, Allowance:TA,
Medical_Allowance:MA, other_earnings:OTHER_earnings, TDS:TDS, ESI:0, PF:PF, Leave:0,
Prof_Tax:ProfTax, Labour_Welfare:0, other_deductions:0, net_salary:net_salary}
return salary_obj
};
</script>

    </body>
</html>