<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

<div class="id_100">
  <select id="hello">
    
  </select>
</div>

</body>
<script type="text/javascript">

            $(document ).ready(function() {
$("#hello").html('<option value="val1">Val 1</option>')
$("#hello").val("val1");

                console.log("hello")

});

</script>
</html>